@media screen and (min-width: 800px){
    header {
        background-color: orange;
       /* width: 8.3vw;*/
        width: 50px;
        position:fixed;
        height: 100vh;
    }

    .page-content {
        margin-left: 8.3vw;
    }

    .page {
        min-height: 100vh;
        outline: 5px solid red;
    }
    .lettucepic {
        position: relative;
        &:hover {
            .arrow {
                bottom: 16px;

            }
        }
        .arrow {
            transform: rotate(90deg);
            position: absolute;
            bottom: 8px;
            left:8px;
            transition: bottom 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
    }
}