.drizzle {
    color: #aa75ff;
    font-size: 1.5rem;
    position: absolute;
    top: 2dvh;
    left: 10dvh;
    z-index: 3;
    
  }
  .tahini {
    color: #00ff38;
    font-size: 3rem;
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
    z-index: 2;
    
  
  }
  .chickpeas {
    color: #fff236;
    font-size: 1.5rem;
    position: absolute;
    top: 9dvh;
    left: 3.8dvh;
    z-index: 1;
  
  }