@import "vendor/normalize";
@import "button";

body {
  background-color: #fff236;
  font-family: 'Jockey One', sans-serif;
}

h1 {
  font-family: 'Jockey One', sans-serif;
  position: absolute;
  top: 0;
  left: 150px;
}

.page1{
  color: #00ff38;
  background-color: #000000;
  padding: 10px;
  width: 400px;
  border: 1px solid white;

}
.textbox1 {

  width: 400px;
  padding: 2px;
  border: 1px solid white;
}
.textbox2 {
  background-color: #ffffff;
  border: 5px solid #fff236;
  color: #000000;
  padding: 3px;
} 
img {
  border: 1px solid white;
}

.drizzle {
  color: #aa75ff;
  font-size: 1.5rem;
  position: absolute;
  top: 2dvh;
  left: 10dvh;
  z-index: 3;
  
}
.tahini {
  color: #00ff38;
  font-size: 3rem;
  position: absolute;
  top: 30%;
  transform: translateY(-30%);
  z-index: 2;
  

}
.chickpeas {
  color: #fff236;
  font-size: 1.5rem;
  position: absolute;
  top: 9dvh;
  left: 3.8dvh;
  z-index: 1;

}

